body, html{
    min-height:100%;
    margin:0;
    padding:0;
    border:0;
    font-family:"Arial light";
}
#templates, .hidden {
    display:none;
}
header h1 {
    margin-top:0;
}
.verticalMiddle {
    width:100%;
    text-align:center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
html {
    background-image: url(../img/2k_stars.jpg);

}
main {
    /*max-width:1024px;*/
    width:100%;
    margin: 0 auto 0 auto;
    padding-top:110px;
    max-height:25vh;
    overflow:hidden;
}
header {
    text-align: center;
    z-index:100;
    position:absolute;
    width:100%;
    background:#333;
    color : #DDD;
    height:100%;
    max-height:100%;
    transition: all 2s;
    font-size:2em;
}
header.minimised {
    font-size:1em;
    max-height:100px;
}
header input {
    border:none;
    font-size: 3em;
    text-align: center;
    color : #DDD;
    background:#333;
    width:100%;
}
header.minimised input {
    font-size: 2em;
}
main section {
    vertical-align: middle;
    font-size:1vw;
    position:relative;
    top:25vh;
    width:10px;
    height:10px;
    display:inline-block;
    text-align:center;
    padding-top:4px;
    transition:2s all;
}
.activated {
    z-index:50 !important;
    left:45% !important;
    transition:2s all;
}
.activated div {
    width:20vw!important;
    height:20vw!important;
    transition:2s all;
    box-shadow: -3vw 0.5vw 6vw 0.8vw inset,0.1vw -.1vw .1vw 0.4vw !important;
}
p, h2 {
    color:#FFF;
    z-index:100 !important;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    font-size:2em;
}
h2 {
    top:-20%;
    font-family: Arial;
}
input {
    text-align:center;
    border:none;
    text-decoration:underline;
}
#rocketShip {
    max-width:150px;
    height:auto;
    z-index:100;
}
/*hide the picker for dates*/
input[type="date"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-inner-spin-button{
    display: none;
}
#description {
    z-index:98;
    width: 80%;
    top: 15%;
    height: 100px;
    margin: 0 auto 0 auto;
}
#sun {
    z-index:-1;
    position:absolute;
    left:-65vh;
    top:12.5vh;
    height:75vh;
    width:75vh;
    border-radius:100%;
    background-size: cover;
    background-color:#222;
    transform: rotate(20deg);
    animation: rotate 80s infinite linear;
    background-image: url("../img/2k_sun.jpg");
    box-shadow: rgba(255,222,222,0.05) 6vw 0 6vw 6vw,rgba(255,222,222,0.05) 3vw 0 5vw 5vw,rgba(255,222,222,0.05) 1vw 0 5vw 5vw;
}
#sun:before {
    background: radial-gradient(circle, rgba(5, 5, 5, 0) 60%,rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 1) 90%);
}
.planet {
    height:10vw;
    width:10vw;
    border-radius:100%;
    background-size: cover;
    background-color:#222;
    transform: rotate(20deg);
    animation: rotate 25s infinite linear;
    transition:2s all;
}
.planet:before, .planet:after, #sun:before, #sun:after {
    margin: 0;
    content: "";
    position: absolute;
    border-radius: 50%;
    bottom: -0.5%;
    left: -0.5%;
    opacity: 0.95;
    height: 101%;
    width: 101%;
    filter: blur(5px);
    z-index: -1;
    animation: z-index 2s;
}
.planet:after {
    /*box-shadow: -3vw 0.5vw 6vw 0.8vw inset,0.1vw -.1vw .1vw 0.4vw ;*/
}
.planet:before {
    background: radial-gradient(circle, rgba(5, 5, 5, 0) 60%,rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 1) 90%);
}
/*.ring {*/
    /*position:absolute;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%) rotateX(45deg);*/
    /*width:35vw;*/
    /*height:17.5vw;*/
    /*!*padding: 15px;*!*/
    /*background-size:cover;*/
/*}*/
/*.ringTop {*/
    /*z-index: -1;*/
    /*background-position:0 0;*/
    /*top: 25%;*/
/*}*/
/*.ringBottom {*/
    /*z-index: 20;*/
    /*background-position:0 100%;*/
    /*top: 76%;*/
/*}*/

.left{float:left; width:400px;}
/*wierd issues here -> rotating from 0 to 200% causes a very noticeable jump*/
@keyframes rotate {
    from {background-position:0 0;}
    to {background-position:198% 0;}
}

@media screen and (max-width:1000px) {
    #sun {
        top:-5vw;
    }
    main {
        text-align: center;
    }
    main section:not(:first-child) {
        left:0 !important;
        margin: 15px 25vw 15px 25vw;
        display:inline-block;
        width:35vw !important;
        height:35vw !important;
    }
    .planet {
        font-size:5em;
        height:35vw !important;
        width:35vw !important;
        box-shadow: -3vw 0.5vw 6vw 0.8vw inset,0.1vw -.1vw .1vw 0.4vw !important;
    }
    .activated div {
        height:35vw !important;
        width:35vw !important;
    }
    p {
        font-size:1em;
    }
    header {
        position:fixed;
    }
    #description {
        height: auto;
        width: 95%;
        top: 225px;
        margin: 0 auto 0 auto;
        font-size: 1.5em;
        position: fixed;
        z-index: 99;
        /*background-image: url(../img/2k_stars.jpg);*/
    }
}